= content_tag(:div, :class => "image", :id => "image_#{image.id}") do
  .media-grid= link_to image_tag(image.image.thumb.icon.url), image.image.url, :class => "lightbox"
  .action= link_to "×", admin_product_image_path(product, image), :confirm => t("actions.simple.confirm"), :method => :delete, :remote => true, :class => "btn danger"
  - if image.is_major
    = check_box_tag "image[is_major]", "1", image.is_major, :id => "check_#{image.id}", :disabled => true
  - else
    = check_box_tag "image[is_major]", "1", image.is_major, :id => "check_#{image.id}", :onclick => toggle_image_major(product, image)
