%h3= t("actions.named.management", :model => t("activerecord.models.article"))
%ul
  %li= link_to t("actions.named.all", :model => t("activerecord.models.article")), admin_articles_path
  %li= link_to t("actions.named.new", :model => t("activerecord.models.article")), new_admin_article_path
%h4= t("actions.named.management", :model => t("activerecord.models.image"))
%ul
  %li= link_to t("actions.named.all", :model => t("activerecord.models.image")), admin_aimages_path