- title_with_sitename @article.title
.column.grid_8
  %article
    %h2= @article.title
    .article.first_letter_big
      .content
        %p= raw @article.content
.column.grid_4
  #sidebar.border
    = render :partial => "shared/tag_cloud", :object => @tags
    .splitter
    %h3= t("yobi.last_update")
    = render :partial => "shared/sidebar_article", :collection => @lastest_articles
