.row
  .column.grid_3
    %h5= t("yobi.finance_knowledge")
    %ul.disc
      %li= link_to t("yobi.about"), article_url_path("about")
      %li= link_to t('yobi.contacts'), article_url_path("contact")
      %li= link_to t('yobi.faq'), article_url_path("faq")
      %li= link_to t('yobi.finance_knowledge'), article_url_path("finance-knowledge")
  .column.grid_5
    %h5= t("yobi.products_categories")
    = show_footer_categories(@products_categories)
  .column.grid_4
    .site_info
      %h5= t("yobi.ad_words")
      %p= "© 2011 - #{Time.now.year} #{t("yobi.copyright")}"
      %hr
      %p= "#{t("yobi.address")}: #{t("yobi.address_content")}"
      %p= "#{t("yobi.tel")}: 023-67107632"
      %p= "#{t("yobi.cellphone")}: 15723291644 15723346799"
      %p QQ：25546358 1574864288 2364133372
      %hr.small
      %p.small
        = "#{t("yobi.advice_1")} <a href='http://windows.microsoft.com/ie9/' target='_blank'>Internet Explorer 9+</a>,".html_safe
        = "#{t("yobi.advice_2")} <a href='http://www.apple.com.cn/safari/' target='_blank'>Safari</a>, <a href='http://www.firefox.com.cn/download/' target='_blank'>Firefox</a>, <a href='http://www.google.cn/chrome/' target='_blank'>Chrome</a>, <a href='http://www.opera.com/' target='_blank'>Opera</a>.".html_safe
      %hr.small
      %p.small
        Tested on Safari5,Firefox8,Chrome16,Opera11,IE6-9 
      .float-right= "<script src='http://s24.cnzz.com/stat.php?id=3649437&web_id=3649437&show=pic' language='JavaScript'></script>".html_safe      