.row
  .column
    %h1= link_to t("yobi.site_title"), root_path
  .column
    %nav
      %ul= render 'shared/navigation'
  .column.pull-right
    = form_for @search, :url => search_path, :html => {:class => "search_box"} do |f|
      %span= f.text_field :name_contains, :value => t("yobi.search"), :onfocus => "if (this.value == '#{t("yobi.search")}') {this.value = '';}", :onblur => "if (this.value == '') {this.value = '#{t("yobi.search")}';}"