- title_with_sitename "国内专业财务配套用品网上商城"
.column.grid_3
  #sidebar
    .box.article
      %h3= t("yobi.news")
      - unless @lastest_article.nil?
        = truncate_html(@lastest_article.content, :length => 600, :omission => '..', :word_boundary => true)
    .splitter
    .box
      %h3= t("yobi.quick_title")
      %p= link_to t("yobi.quick_content"), article_url_path("quick"), :class => "btn primary large"
    .splitter
    .box
      %h3= t("yobi.online_service")
      %p= '<a target=blank href=http://wpa.qq.com/msgrd?V=1&Uin=2388749522&Site=www.51yobi.com&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:2388749522:12 alt="点击这里给我发消息"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a target=blank href=http://wpa.qq.com/msgrd?V=1&Uin=2364133372&Site=www.51yobi.com&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:2364133372:12 alt="点击这里给我发消息"></a>'.html_safe
    .splitter
    .box
      %h3= t("yobi.model_customers")
      - unless @model_article.nil?
        = truncate_html(@model_article.content, :length => 500, :omission => '..', :word_boundary => true)
.column.grid_9.home_product
  %h2= t("yobi.elite_products_1")
  .tooltip_container.image_grid
    - @elite_products_1.each do |product|
      = link_to image_tag(product.thumb_image, :alt => product.title, :title => "#{product.name}<br/>#{t("activerecord.attributes.product.sn")}: #{product.sn}<br/>#{t("activerecord.attributes.product.price_yobi")}: #{show_price(product.price_yobi)}"), product_url_path(product.url), :alt => product.title
  %h2= t("yobi.elite_products_2")
  .tooltip_container.image_grid
    - @elite_products_2.each do |product|
      = link_to image_tag(product.thumb_image, :alt => product.title, :title => "#{product.name}<br/>#{t("activerecord.attributes.product.sn")}: #{product.sn}<br/>#{t("activerecord.attributes.product.price_yobi")}: #{show_price(product.price_yobi)}"), product_url_path(product.url), :alt => product.title
  %h2= t("yobi.elite_products_3")
  .tooltip_container.image_grid
    - @elite_products_3.each do |product|
      = link_to image_tag(product.thumb_image, :alt => product.title, :title => "#{product.name}<br/>#{t("activerecord.attributes.product.sn")}: #{product.sn}<br/>#{t("activerecord.attributes.product.price_yobi")}: #{show_price(product.price_yobi)}"), product_url_path(product.url), :alt => product.title
  %h2= t("yobi.elite_products_4")
  .tooltip_container.image_grid
    - @elite_products_4.each do |product|
      = link_to image_tag(product.thumb_image, :alt => product.title, :title => "#{product.name}<br/>#{t("activerecord.attributes.product.sn")}: #{product.sn}<br/>#{t("activerecord.attributes.product.price_yobi")}: #{show_price(product.price_yobi)}"), product_url_path(product.url), :alt => product.title