- title_with_sitename "财务之友 比肩同行"
.column.grid_3
  #sidebar
    .box.article
      %h3= t("yobi.news")
      - unless @lastest_article.nil?
        = truncate_html(@lastest_article.content, :length => 150, :omission => '..', :word_boundary => true)
    .splitter
    .box
      %h3= t("yobi.online_service")
      %p= '<a target=blank href=http://wpa.qq.com/msgrd?V=1&Uin=1574864288&Site=www.51yobi.com&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:1574864288:12 alt="点击这里给我发消息"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a target=blank href=http://wpa.qq.com/msgrd?V=1&Uin=2364133372&Site=www.51yobi.com&Menu=yes><img border="0" SRC=http://wpa.qq.com/pa?p=1:2364133372:12 alt="点击这里给我发消息"></a>'.html_safe
    .splitter
    .box.article
      %h3= t("yobi.contacts")
      - unless @contact_article.nil?
        = raw @contact_article.content
.column.grid_9.home_product
  %h2= t("yobi.elite_products_1")
  .tooltip_container.image_grid
    - @elite_products_1.each do |product|
      = link_to image_tag(product.thumb_image, :title => "#{product.name}<br/>#{t("activerecord.attributes.product.sn")}: #{product.sn}<br/>#{t("activerecord.attributes.product.price_yobi")}: #{show_price(product.price_yobi)}"), product_url_path(product.url)
  %h2= t("yobi.elite_products_2")
  .tooltip_container.image_grid
    - @elite_products_2.each do |product|
      = link_to image_tag(product.thumb_image, :title => "#{product.name}<br/>#{t("activerecord.attributes.product.sn")}: #{product.sn}<br/>#{t("activerecord.attributes.product.price_yobi")}: #{show_price(product.price_yobi)}"), product_url_path(product.url)
  %h2= t("yobi.elite_products_3")
  .tooltip_container.image_grid
    - @elite_products_3.each do |product|
      = link_to image_tag(product.thumb_image, :title => "#{product.name}<br/>#{t("activerecord.attributes.product.sn")}: #{product.sn}<br/>#{t("activerecord.attributes.product.price_yobi")}: #{show_price(product.price_yobi)}"), product_url_path(product.url)