.column.grid_12
  .banner
    = image_tag("slider-images/toystory.jpg")
.column.grid_12
  = render "shared/breadcrumbs"
.column.grid_9
  #product_content
    %h2 装订机使用说明装订机使用
    .column.grid_5
      = image_tag("zdj.jpg", :size => "350x350")
      .tips 提示：点击小图标可获得更佳的浏览效果
      .image_grid
        - (1..6).to_a.each do |i|
          = link_to image_tag("/assets/no-pic.gif", :size => "50x50"), image_path("zdj.jpg"), :title => "Pic is here!", :class => "lightbox"
    .column.grid_4.pull-left
      .border.detail
        %ul
          %li= ("产品编号：" + content_tag(:span, "MZJ268M", :class => "number")).html_safe
          %li= ("友比价格：" + content_tag(:span, "￥ 1,150.00", :class => "yobi_price")).html_safe
          %li= ("零售价格：" + content_tag(:span, "￥ 1,280.00", :class => "retail_price")).html_safe
          %li= ("折扣比例：" + content_tag(:span, "89 折", :class => "discount_rate")).html_safe
        .splitter
        %ul.detail_property
          %li= (content_tag(:span, "打孔直径", :class => "property") + "5mm").html_safe
          %li= (content_tag(:span, "机器净重", :class => "property") + "6.5KG").html_safe
          %li= (content_tag(:span, "尺寸", :class => "property") + "380×310×390mm").html_safe
          %li= (content_tag(:span, "装订厚度", :class => "property") + "30mm以下任意厚度").html_safe
          %li= (content_tag(:span, "装订耗材", :class => "property") + "尼龙铆管").html_safe
          %li= (content_tag(:span, "前后调边距", :class => "property") + "6mm-24.5mm").html_safe
      .order
        %a.btn.primary.large 立即订购
        %a.btn.success.large  联系公司客服
    .column.grid_9
      .intro
        %h4 产品详细介绍
        .article
          %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
          %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
          %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
          %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
      .comments
        %h4 用户评论
        .article
          %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
          %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
          %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
          %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
.column.grid_3
  #sidebar.border
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
    .splitter
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
    .splitter
    %h3 装订机使用说明
    .article
      .content
        %p 友比财务商城（www.51yobi.com)是友比科技全力打造的专业的财务配套用品网上商城，秉承“财务之友、比肩同行”，帮助客户成功的经营理念，以提供财务软件、配套用品及设备类产品为主体的电子商城，让客户体验一站式财务用品快捷采购。
