%h4= t("actions.named.management", :model => t("activerecord.models.category"))
%ul
  %li= link_to t("actions.named.all", :model => t("activerecord.models.category")), admin_categories_path
  %li= link_to t("actions.named.new", :model => t("activerecord.models.category")), new_admin_category_path
%h4= t("actions.named.management", :model => t("activerecord.models.image"))
%ul
  %li= link_to t("actions.named.all", :model => t("activerecord.models.image")), admin_cimages_path