%h4= t("actions.named.management", :model => t("activerecord.models.product"))
%ul
  %li= link_to t("actions.named.all", :model => t("activerecord.models.product")), admin_products_path
  %li= link_to t("actions.named.new", :model => t("activerecord.models.product")), new_admin_product_path
%h4= t("actions.named.management", :model => t("activerecord.models.plist"))
%ul
  %li= link_to t("actions.named.all", :model => t("activerecord.models.plist")), admin_plists_path
  %li= link_to t("actions.named.new", :model => t("activerecord.models.plist")), new_admin_plist_path
%h4= t("actions.named.management", :model => t("activerecord.models.image"))
%ul
  %li= link_to t("actions.named.all", :model => t("activerecord.models.image")), admin_pimages_path