= simple_form_for [:admin, @user], :wrapper => :inline do |f|
  - if f.error_notification
    .alert-message.warning.fade.in{"data-alert" => "alert"}
      %a.close{:href => "#"} ×
      %p= f.error_notification
  = field_set_tag t("activerecord.models.user") do
    = f.input :name, :input_html => { :maxlength => "#{Yobi::TEXT_MAX_LENGTH}", :class => "span10" }, :hint => t("hint.name")
    = f.input :email, :input_html => { :maxlength => "#{Yobi::TEXT_MAX_LENGTH}", :class => "span10" }, :hint => t("hint.email")
    = f.input :is_admin
    = f.input :password
    = f.input :password_confirmation
  = render "admin/shared/multiple_actions", :f => f, :m => :user